.box{
    background-color: #363737;
     width:250px;
     height:250px;
     position:absolute;
     top: -1px;
     left:0;
}
@media(min-width:650px){
    .box{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .box{grid-template-columns:repeat(1,1fr);}
}
.circle{
      background-color: white;
      width:200px;
      height:200px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      left:0px;
      top:25px;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      border:2px solid #FDBE02;   
}
@media(min-width:650px){
    .circle{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .circle{grid-template-columns:repeat(1,1fr);}
}
.circle img{
    width:100%;
    height:100%;
    object-fit: cover;
}
@media(min-width:650px){
    .circle img{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .circle img{grid-template-columns:repeat(1,1fr);}
}
.rectangle{
     background-color: #FDBE02;
     width:250px;
     height:400px;
     position: absolute;
     top:249px;
     left:0px;
     display:flex;
    flex-direction: column;
    justify-content: center;
}
@media(min-width:650px){
    .rectangle{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .rectangle{grid-template-columns:repeat(1,1fr);}
}
 li {
    list-style:none;
    display:flex;
    flex-direction: column;
    transform: scaleY(1.08);
    padding: 15px;
    margin-left:0px; 
}
@media(min-width:650px){
    .li{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .li{grid-template-columns:repeat(1,1fr);}
}
.one img{
      width:25px;
      height:25px;
      position:absolute;
      top:10px; 
      left:0px; 
      margin-top:-15px;
      margin-left:0px;
}
@media(min-width:650px){
    .one{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .one{grid-template-columns:repeat(1,1fr);}
}
.eight img{
      width:25px;
      height:25px;
      position:absolute;
      top:10px;  
    margin-left:0px;   
}
@media(min-width:650px){
    .eight{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .eight{grid-template-columns:repeat(1,1fr);}
}
.two a {
     margin-left:0px;
     color:black;
     text-decoration: none;
}
@media(min-width:650px){
    .two a{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .two a{grid-template-columns:repeat(1,1fr);}
}
.two a:hover{
    color: white;
     
}
.four a{
    margin-left:0px;
        margin-left:0px;
     color:black;
     text-decoration: none;
}
@media(min-width:650px){
    .four a{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .four a{grid-template-columns:repeat(1,1fr);}
}
.four a:hover{
    color: white;
     
}
.five a{
    margin-left:0px;
    color:black;
     text-decoration: none;
}
.five a:hover{
    color: white;
     
}
@media(min-width:650px){
    .five a{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .five a{grid-template-columns:repeat(1,1fr);}
}
.seven a{
    margin-left:0px;
    color:black;
     text-decoration: none;
}
.seven a:hover{
    color: white;
     
}
@media(min-width:650px){
    .seven a{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .seven a{grid-template-columns:repeat(1,1fr);}
}
.three a{
    color: white; 
}

.three a{
    
     text-decoration: none;
     margin-left: 0px;
}
.three a:hover{
    color: white;
}
@media(min-width:650px){
    .three a{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .three a{grid-template-columns:repeat(1,1fr);}
}
body{
    background-color: #cdcdcd;
}
.container img{
          width:100px;
          height:40px;
          position: absolute;
          top:30px;
          left:0px;
}
@media(min-width:650px){
    .container{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .container{grid-template-columns:repeat(1,1fr);}
}
.heading{
       font-size: 100px;
       margin-left:0px;
       margin-top: 50px;
       color:black;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
@media(min-width:650px){
   .heading{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .heading{grid-template-columns:repeat(1,1fr);}
}

@media(min-width:650px){
    header{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    header{grid-template-columns:repeat(1,1fr);}
}
.container{
    position: relative;
    z-index: 2;
}
header{
      color:black;
      font-size:35px;
      position:relative;
      z-index: 3;
      margin-left:0px;
      margin-top:20px;
      display:flex;
      flex-direction:row;
      gap:6px;
      
}
.a{
    font-weight: 100;
    font-family:'Poppins', sans-serif;
}
@media(min-width:650px){
    .a{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .a{grid-template-columns:repeat(1,1fr);}
}

.b{
    font-weight: 600;
  font-family:'Poppins', sans-serif
}
@media(min-width:650px){
    .b{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .b{grid-template-columns:repeat(1,1fr);}
}
.c{
    font-weight: 100;
    font-family:'Poppins', sans-serif;
}
@media(min-width:650px){
    .c{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .c{grid-template-columns:repeat(1,1fr);}
}
main{
     margin-left: 0px;
     margin-top:10px;
     margin-right:125px;
}
@media(min-width:650px){
    .main{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .main{grid-template-columns:repeat(1,1fr);}
}
.d{
    margin-top:30px;
    font-size: 20px;
    margin-left: 0px;
    background-color: #FDBE02;
    color: black;
    width:150px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
}
@media(min-width:650px){
    .d{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .d{grid-template-columns:repeat(1,1fr);}
}
.container2{
      margin-top:50px;

}
.minicircle1{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color:black;
        margin-left:0px;
        margin-top:-15px;
        justify-content: center;
        align-items: center;
}
.minicircle1 img{
         width:85%;
         height: 100%;
         object-fit: cover;
         transition: transform 0.3s ease; 
}
.minicircle1 img:hover{
               transform: scale(1.3) rotate(10deg);
           
}
.e{
     margin-left:0px;
        margin-top:25px;
        display:flex;
      flex-direction:row;
      gap:6px;
      font-size: 25px;
      font-family: 'Poppins',sans-serif; 
}
@media(min-width:650px){
    .e{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .e{grid-template-columns:repeat(1,1fr);}
}
.e_o{
    margin-top: -25px;
    font-size: 30px;
    font-weight: 600;
}
.etext
{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}.e1{
      font-size: 20px;
      width:270px;
      
}
@media(min-width:650px){
    .e1{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .e1{grid-template-columns:repeat(1,1fr);}
}
.minicircle2{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color:black;
        margin-left:0px;
        margin-top:-20px;
        justify-content: center;
        align-items: center;
}
.minicircle2 img{
         width:90%;
         height: 80%;
         object-fit: cover;
         transition: transform 0.3s ease; 
}
.minicircle2 img:hover{
               transform: scale(1.4) rotate(10deg);
           
}
.f{
     margin-left:0px;
        margin-top:40px;
        display:flex;
      flex-direction:row;
      gap:6px;
      font-size: 25px;
      font-family: 'Poppins',sans-serif; 
}
@media(min-width:650px){
    .f{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .f{grid-template-columns:repeat(1,1fr);}
}
.f_o{
    margin-top: -25px;
    font-size: 30px;
    font-weight: 600;
}
.ftext
{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}.f1{
      font-size: 20px;
      width:270px;  
}
@media(min-width:650px){
    .f1{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .f1{grid-template-columns:repeat(1,1fr);}
}
.minicircle3{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color:black;
        margin-left:0px;
        margin-top:-20px;
        justify-content: center;
        align-items: center;
}
.minicircle3 img{
         width:100%;
         height: 100%;
         object-fit: cover;
         transition: transform 0.3s ease; 
}
@media(min-width:650px){
    .minicircle3{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .minicircle3{grid-template-columns:repeat(1,1fr);}
}
@media(min-width:650px){
    .minicircle2{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .minicircle2{grid-template-columns:repeat(1,1fr);}
}
@media(min-width:650px){
    .minicircle1{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .minicircle1{grid-template-columns:repeat(1,1fr);}
}
.minicircle3 img:hover{
               transform: scale(1.6) rotate(10deg);
           
}
.g{
     margin-left:0px;
    margin-top:35px;
    display:flex;
    flex-direction:row;
      gap:6px;
      font-size: 25px;
      
      font-family: 'Poppins',sans-serif; 
}
@media(min-width:650px){
    .g{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .g{grid-template-columns:repeat(1,1fr);}
}
.g_o{
    margin-top: -25px;
    font-size: 30px;
    font-weight: 600;
}
.gtext
{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}.g1{
      font-size: 20px;
      width:270px;
      
}
@media(min-width:650px){
    .g1{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .g1{grid-template-columns:repeat(1,1fr);}
}
.funfacts{
    display: flex;           
    flex-direction: column; 
    align-items: center;    
    margin-top:-300px;       
    margin-left: 0px;
    gap: 18px;
}
@media(min-width:650px){
    .funfacts{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .funfacts{grid-template-columns:repeat(1,1fr);}
}
 .facts{
    background-color: #FDBE02;
    color: black;
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-left:0px ;
    margin-top:-20px;
}
@media(min-width:650px){
    .facts{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .facts{grid-template-columns:repeat(1,1fr);}
}
.fun-img{
    width: 800px;   
    height: 300px;   
    object-fit: contain;        
    margin-top: -10px;
}
@media(min-width:650px){
    .fun img{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .fun img{grid-template-columns:repeat(1,1fr);}
}
.line{
     height:480px;
     width:3px;
     background-color: black;
     position: absolute;
     bottom: 50px;
     right:55px;
     z-index: 1;
     position: absolute;
    pointer-events:none;
}
@media(min-width:650px){
    .line{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .line{grid-template-columns:repeat(1,1fr);}
}
.c1{
    background-color: black;
    width:10px;
    height: 10px;
    border-radius: 50%;
     position: absolute;
     top:80px;
     right:52px;
     z-index: 10;

}
@media(min-width:650px){
    .c1{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .c1{grid-template-columns:repeat(1,1fr);}
}
.c2{
    background-color: black;
    width:50px;
    height: 50px;
    border-radius: 50%;
     position: absolute;
     top:112px;
     right:31px;
    display: flex;
     justify-content: center;
     align-items: center;
     overflow:visible;
     z-index:10;
}
.c2 img{
      width:70%;
      height:70%;
      object-fit: cover;
       transition: transform 0.3s ease;
 
}
.c2:hover{
       transform: scale(1.12);
}
@media(min-width:650px){
    .c2{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .c2{grid-template-columns:repeat(1,1fr);}
}
.c3{
     background-color: black;
     width:50px;
     height: 50px;
     border-radius: 50%;
     position: absolute;
     top:200px;
     right:31px;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     transition: transform 0.3s ease;
     z-index: 10;
}
.c3 img{
      width:100%;
      height:100%;
      object-fit: cover;
}
.c3:hover{
       transform: scale(1.12);
}
@media(min-width:650px){
    .c3{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .c3{grid-template-columns:repeat(1,1fr);}
}
.c4{
    background-color: black;
    width:50px;
    height: 50px;
    border-radius: 50%;
     position: absolute;
     top:292px;
     right:31px;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
      transition: transform 0.3s ease;
       z-index: 10;
}
.c4 img{
      width:100%;
      height:100%;
      object-fit: cover;
}
.c4:hover{
       transform: scale(1.12);
}
.c5{
    background-color: black;
    width:50px;
    height: 50px;
    border-radius: 50%;
     position: absolute;
     top:385px;
     right:31px;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
      transition: transform 0.3s ease;
       z-index: 10;
}
.c5 img{
      width:100%;
      height:100%;
      object-fit: cover;
}
@media(min-width:650px){
    .c4{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .c4{grid-template-columns:repeat(1,1fr);}
}
.c5:hover{
       transform: scale(1.12);
}
@media(min-width:650px){
    .c5{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .c5{grid-template-columns:repeat(1,1fr);}
}
.c7{
    background-color: black;
    width:50px;
    height: 50px;
    border-radius: 50%;
     position: absolute;
     top:480px;
     right:31px;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
    transition: transform 0.3s ease;
    z-index: 10;
}
.c7 img{
      width:95%;
      height:95%;
      object-fit: cover;
}
.c7:hover{
       transform: scale(1.12);
}
@media(min-width:650px){
    .c7{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .c7{grid-template-columns:repeat(1,1fr);}
}
.c8{
    background-color: black;
    width:10px;
    height: 10px;
    border-radius: 50%;
     position: absolute;
     top:560px;
     right:51.5px;
}
@media(min-width:650px){
    .c8{grid-template-columns:repeat(2,1fr);}
}
@media(min-width:900px){
    .c8{grid-template-columns:repeat(1,1fr);}
}
